
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,600,400&display=swap');
      </style>
    
  <style>
    .gps-492246487258891150 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-492246487258891150 .pointer-events-auto{pointer-events:auto}.gps-492246487258891150 .relative{position:relative}.gps-492246487258891150 .mx-auto{margin-left:auto;margin-right:auto}.gps-492246487258891150 .mb-0{margin-bottom:0}.gps-492246487258891150 .\!inline{display:inline!important}.gps-492246487258891150 .flex{display:flex}.gps-492246487258891150 .grid{display:grid}.gps-492246487258891150 .\!hidden{display:none!important}.gps-492246487258891150 .h-full{height:100%}.gps-492246487258891150 .w-full{width:100%}.gps-492246487258891150 .w-max{width:-moz-max-content;width:max-content}.gps-492246487258891150 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-492246487258891150 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-492246487258891150 .max-w-full{max-width:100%}.gps-492246487258891150 .flex-1{flex:1 1 0%}.gps-492246487258891150 .flex-col{flex-direction:column}.gps-492246487258891150 .flex-wrap{flex-wrap:wrap}.gps-492246487258891150 .gap-y-0{row-gap:0}.gps-492246487258891150 .rounded{border-radius:4px}.gps-492246487258891150 .border{border-width:1px}.gps-492246487258891150 .text-center{text-align:center}.gps-492246487258891150 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-492246487258891150 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-492246487258891150 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492246487258891150 .duration-200{transition-duration:.2s}.gps-492246487258891150 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492246487258891150 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492246487258891150 .\[\&_p\]\:inline p{display:inline}.gps-492246487258891150 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492246487258891150 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g-H8DBse6y"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:15px;--pb:var(--g-s-m);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#101010;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-H8DBse6y mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOZ7mbEeVN relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g9ijFCGqit"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9ijFCGqit mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJbe_peLE0 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gX8XGLXADd"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gX8XGLXADd mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtpDApL5Hz relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gqZ65vABel "
        style="--tt:default;--ta:right;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-s)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word"
        >
        <p>OFERTAS DE FIM DE ANO</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gc_mMtUbWW relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g10WZn5WU_"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png" | asset_url }}" data-srcset="{{ '432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1" height="40" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1/40;--aspect-tablet:1/40;--aspect-mobile:1/40;--objf:cover;--w:1px;--w-tablet:1px;--w-mobile:1px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gl7eFF0aLU relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="glQ92LxZ7a"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-s);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glQ92LxZ7a mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2rb10UzMK relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gOJ3gHG2Xj "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>FRETE GRATIS</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gx_R1EO9Zv relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gpwLLU_RTL ">
      
    <gp-countdown-timer
     class="flex "
     gp-data='{"behaviour":"daily","dateStandard":1685687631483,"dayLabel":"DAY","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","minuteLabel":"MINS","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"SECS","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1702942225335,"hours":3,"mins":0,"startTime":1685082831483},"weekLabel":"Weeks","uid":"gpwLLU_RTL","builderData":{"advanced":{"border":{"border":"solid","borderType":"none","color":"#121212","isCustom":true,"width":"0px","position":"all"},"boxShadow":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":false,"op":{"desktop":"100%"},"rounded":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"spacing-setting":{"desktop":{"margin":{},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"label":"CountDown Timer","settings":{"behaviour":"daily","dateStandard":1685687631483,"dayLabel":"DAY","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","minuteLabel":"MINS","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"SECS","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1702942225335,"hours":3,"mins":0,"startTime":1685082831483},"weekLabel":"Weeks"},"styles":{"backgroundItemColor":"transparent","borderState":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"}},"colorLabel":"#B4B4B4","colorNumber":"bg-3","horizontalGap":"var(--g-s-m)","itemPadding":{"custom":{"desktop":{"horizontal":"8px","vertical":"0px"}}},"labelTypo":{"attrs":{"color":"#B4B4B4"},"custom":{"fontFamily":"Open Sans","fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontWeight":"400","letterSpacing":"normal","lineHeight":"150%"},"type":"paragraph-1"},"labelTypography":{"type":"paragraph-2"},"numTypo":{"attrs":{"color":"#FFFFFF"},"custom":{"fontFamily":"Open Sans","fontSize":{"desktop":"23px","mobile":"20px","tablet":"23px"},"fontStyle":"normal","fontWeight":"600","letterSpacing":"normal","lineHeight":"130%"},"type":"heading-2"},"numTypography":{"custom":{"desktop":{"fontFamily":"heading","fontSize":"23px","fontStyle":"normal","fontWeight":"600","letterSpacing":"0px","lineHeight":"130%"},"mobile":{"fontFamily":"heading","fontSize":"20px","fontWeight":"400"},"tablet":{"fontFamily":"heading","fontSize":"23px","fontWeight":"400"}}},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"left","mobile":"center"}},"tag":"Countdown","uid":"gpwLLU_RTL","childrens":[],"type":"component"}}'
     style="--jc:left;--jc-mobile:center"
     >
      <div id="section-countdown" class="flex flex-wrap w-max !hidden" style="gap:var(--g-s-m);--jc:left;--jc-mobile:center">
           
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="day"
        class=" "
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        DAY
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="hour"
        class=" "
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        HRS
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="minute"
        class=" "
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        MINS
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="second"
        class=" "
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#B4B4B4;word-break:break-word"
        >
        SECS
        </div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--d:none;--d-tablet:none;--d-mobile:none"
      class="guVDDsJebS relative flex flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-492246487258891150 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492246487258891150&template_id=492246486722020238)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
